$color-main: #f38181;
$color-secondary: #fce38a;
$color-white: #fff;
$color-tertiary: #95e1d3;
$color-fourth: #e5e5e5;

$color-text-main: #333333;
$color-text-secondary: #999999;

$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Kaushan Script', cursive;
$font-tertiary: 'Roboto', sans-serif;